@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  background: url('../public/images/darmangah\ 1.png');
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
