// رنگ‌های پایه برای تم تاریک سایت فیلم

$color-bg: #FFF;
$color-surface: #221f1f;
$color-primary: #071952;   // Netflix red
$color-accent: #FDDE55;    // IMDB yellow
$color-text: #02081A;
$color-text-muted: #aaaaaa;
$white : #fff ;

// اندازه‌ها و رادیوس
$radius: 0.5rem;
$padding: 1rem;
