@use "../../styles/sass/abstracts/variables" as *;

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;

  .nav-link {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.3s ease;

    // overflow: hidden;

    // خط زیر متن با افکت زیبا
    &::after {
      border-radius: 10px;
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      width: 0%;
      height: 3px;
      background: linear-gradient(
        90deg,
        $color-primary,
        lighten($color-primary, 15%)
      );
      transition: all 0.4s ease;
      transform: translateX(-50%);
    }

    &:hover,
    .nav-item.active & {
      color: $color-primary;
    }

    &:hover::after,
    .nav-item.active &::after {
      width: 120%; // خط از وسط باز میشه و کل متن رو می‌گیره
    }
  }

  // افکت هاور و active روی کل آیتم
  &:hover,
  &.active {
    background: linear-gradient(135deg, #f3f4ff, #e0e7ff);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    font-weight: bold;
    border-radius: 8px;
    border-bottom:1px  solid $color-primary ;
       &::after {
      border-radius: 10px;
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      width: 0%;
      height: 3px;
      background: linear-gradient(
        90deg,
        $color-primary,
        lighten($color-primary, 15%)
      );
      transition: all 0.4s ease;
      transform: translateX(-50%);
    }
  }
}
