// varibels
@use "../../styles/sass/abstracts/variables" as *;

/* مخفی کردن اسکرول در مرورگرهای مختلف */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE و Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
