.chart-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  direction: rtl;
  font-family: "Vazir", sans-serif;
}

.chart-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #333;
}
