// varibels
@use "../../styles/sass/abstracts/variables" as *;

// .servise_box{

//     position: relative;
//     height: 80vh;
//     padding: 10px;
//     border-radius: 20px;
//     width: 415px;
    
//     .servise_box_right{
//         position: relative;
//         // height: 100vh;
//         display: flex ;
//         justify-content: flex-start;
//         right: -110px;

//         .servise_box_right_h1{
//             position: relative;
//             width: 200px;
//             text-align: center;

            
//         }
//         .servise_box_right_p{
//             position: absolute;
//             transform: rotate(-90deg);
//             top: 270px;
//             right: -150px;
//             font-size: 40px;
//             // flex-wrap: nowrap;
//             text-wrap: nowrap;
//             color: rgba(#aaa, $alpha: 0.8);
//             font-weight: 700;
//             // height: 100vh;
//         }
//     }
// }
// variables


.servise_box {
  position: relative;
  height: 80vh;
  padding: 10px;
  border-radius: 20px;
  width: 415px;

  .servise_box_right {
    position: relative;
    display: flex;
    justify-content: flex-start;
    right: -110px;

    .servise_box_right_h1 {
      position: relative;
      width: 200px;
      text-align: center;
    }

    .servise_box_right_p {
      position: absolute;
      transform: rotate(-90deg);
      top: 270px;
      right: -150px;
      font-size: 40px;
      text-wrap: nowrap;
      color: rgba(#aaa, $alpha: 0.8);
      font-weight: 700;
    }
  }

  // 📱 ریسپانسیو برای موبایل و تبلت
  @media (max-width: 768px) {
    width: 500px;
    height: 100vh;
    padding: 16px;
    ;

    .servise_box_right {
      flex-direction: column;
      align-items: center;
      right: -100px;

      .servise_box_right_h1 {
        width: 50%;
        font-size: 1rem;
        text-align: center;
      }

      .servise_box_right_p {
        width: 50%;
        position: static;
        transform: none;
        font-size: 1rem;
        text-align: center;
        margin-top: 12px;
      }
    }
  }
  @media (max-width: 768px) {
    width: 400px;
    height: 100vh;
    padding: 16px;
    ;

    .servise_box_right {
      flex-direction: column;
      align-items: center;
      right: -100px;

      .servise_box_right_h1 {
        width: 50%;
        font-size: 1rem;
        text-align: center;
      }

      .servise_box_right_p {
        width: 50%;
        position: static;
        transform: none;
        font-size: 1rem;
        text-align: center;
        margin-top: 12px;
      }
    }
  }
}
